.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */

.App {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid #8c8f93;
  margin-bottom: 20px;
  cursor: pointer;
}

.result-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
}

/* @media (max-width: 767px) {
  .dropzone {
    height: 150px;
  }

  .result-image {
    height: 150px;
  }
} */

.row {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (max-width: 767px) {
  .row {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-thumbnail {
  max-height: 500px;
}

@media (max-width: 767px) {
  .img-thumbnail {
    max-height: 300px;
  }
}

.prompt-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.prompt-container label {
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.prompt-container textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
  min-height: 100px;
  width: 100%;
}

.advanced-config-button {
  border-radius: 20px;
  background-color: black;
  color: white !important;
}
